{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center m-5 p-5">Your Categories</h2>
        <div class="row justify-content-center">
            <table class="table col-12">
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>
                            <h3 class="text-center m-3 p-3">{{ category.name }}</h3>
                            <a class="btn btn-outline-dark ml-5"
                               href="{{ path('category_edit', {'id': category.id}) }}">Edit</a>
                            <a class="btn btn-outline-dark ml-5"
                               href="{{ path('category_delete', {'id': category.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <div id="wrapper">
                        <h1 class="glitch" data-text="Not found">Not found</h1>
                        <span class="sub">Nothing Here</span>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-dark" href="{{ path('category_new') }}">New Cateorgy</a>
            <a class="btn btn-outline-dark ml-5" href="{{ path('admin') }}">Back</a>
        </div>
    </div>

{% endblock %}
