{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-5 mb-5">Your Categories</h2>
        <div class="row">
            <table class="table col-6">
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>
                            <a class="btn btn-outline-success"
                               href="{{ path('category_show', {'id': category.id}) }}">show</a>
                            <a class="btn btn-outline-success ml-5"
                               href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-success" href="{{ path('category_new') }}">New Cateorgy</a>
            <a class="btn btn-outline-success ml-5" href="{{ path('admin') }}">Back</a>
        </div>
    </div>

{% endblock %}
