{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5 p-5 text-center">Episodes</h1>
        <div class="row justify-content-center">
            <table class="table col-12">
                <tbody>
                {% for episode in episodes %}
                    <tr>
                        <td class="justify-content-center">
                            <p>{{ episode.title }}</p>
                            <p>Episode number {{ episode.number }}</p>
                            <p>{{ episode.synopsis }}</p>
                            <a class="btn btn-outline-dark"
                               href="{{ path('episode_edit', {'slug': episode.slug}) }}">Edit</a>
                            <a class="btn btn-outline-dark"
                               href="{{ path('episode_delete', {'slug': episode.slug}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <div id="wrapper">
                        <h1 class="glitch" data-text="Not found">Not found</h1>
                        <span class="sub">Nothing Here</span>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-dark" href="{{ path('episode_new') }}">New Episode</a>
            <a class="btn btn-outline-dark ml-5" href="{{ path('admin') }}">Back</a>
        </div>
    </div>
{% endblock %}
