{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mt-5 mb-5">Episode index</h2>
        <div class="row">
            <table class="table col-6">
                <tbody>
                {% for episode in episodes %}
                    <tr>
                        <td>{{ episode.title }}</td>
                        <td>{{ episode.number }}</td>
                        <td>{{ episode.synopsis }}</td>
                        <td>
                            <div class="container">
                                <div class="row">
                                    <a class="btn btn-outline-success col-md-2"
                                       href="{{ path('episode_show', {'id': episode.id}) }}">show</a>
                                    <a class="btn btn-outline-success"
                                       href="{{ path('episode_edit', {'id': episode.id}) }}">edit</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-success" href="{{ path('episode_new') }}">New Episode</a>
            <a class="btn btn-outline-success ml-5" href="{{ path('admin') }}">Back</a>
        </div>
    </div>
{% endblock %}
