{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <div class="container">
        <h2>Season index</h2>
        <div class="row">
            <table class="table col-6">
                <tbody>
                {% for season in seasons %}
                    <tr>
                        <td>{{ season.number }}</td>
                        <td>{{ season.year }}</td>
                        <td>{{ season.description }}</td>
                        <td>
                            <a class="btn btn-outline-success"
                               href="{{ path('season_show', {'id': season.id}) }}">show</a>
                            <a class="btn btn-outline-success"
                               href="{{ path('season_edit', {'id': season.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-success" href="{{ path('season_new') }}">New Season</a>
            <a class="btn btn-outline-success ml-5" href="{{ path('admin') }}">Back To Menu</a>
        </div>
    </div>


{% endblock %}
