{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <div class="container">
        <h2>Season index</h2>
        <div class="row">
            <table class="table col-6">
                <tbody>
                {% for season in seasons %}
                    <tr>
                        <td>{{ season.number }}</td>
                        <td>{{ season.year }}</td>
                        <td>{{ season.description }}</td>
                        <td>
                            <a class="btn btn-outline-dark"
                               href="{{ path('season_show', {'id': season.id}) }}">Show</a>
                            <a class="btn btn-outline-dark"
                               href="{{ path('season_edit', {'id': season.id}) }}">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <div id="wrapper">
                        <h1 class="glitch" data-text="Not found">Not found</h1>
                        <span class="sub">Nothing Here</span>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-dark" href="{{ path('season_new') }}">New Season</a>
            <a class="btn btn-outline-dark ml-5" href="{{ path('admin') }}">Back To Menu</a>
        </div>
    </div>


{% endblock %}
