{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-5 p-5">Season </h1>
        <div class="row justify-content-center">
            <table class="table col-12">
                <tbody>
                {% for season in seasons %}
                    <tr>
                        <td class="justify-content-center">
                        <p>Season {{ season.number }}</p>
                        <p>in {{ season.year }}</p>
                        <p>{{ season.description }}</p>
                            <a class="btn btn-outline-dark"
                                                          href="{{ path('season_edit', {'id': season.id}) }}">Edit</a>
                            <a class="btn btn-outline-dark"
                               href="{{ path('season_delete', {'id': season.id}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <div id="wrapper">
                        <h1 class="glitch" data-text="Not found">Not found</h1>
                        <span class="sub">Nothing Here</span>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-dark" href="{{ path('season_new') }}">New Season</a>
            <a class="btn btn-outline-dark ml-5" href="{{ path('admin') }}">Back To Menu</a>
        </div>
    </div>


{% endblock %}
