{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>Season {{ season.number }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Number</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ season.year }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark m-5" href="{{ path('season_index') }}">Back to list</a>

    <a class="btn btn-outline-dark m-5" href="{{ path('season_edit', {'id': season.id}) }}">Edit</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
