{% extends 'base.html.twig' %}

{% block title %}Personnal Space{% endblock %}

{% block body %}

    <div class="container">
        <div class="list-group">
            <h2 class="mt-5 mb-5 ml-5 fas fa-door-open">Welcome to your personnal space </h2>
            <a href="{{ path('category_index') }}" class="list-group-item list-group-item-action">Your Categories</a>
            <a href="{{ path('program_index') }}" class="list-group-item list-group-item-action">Your Programs</a>
            <a href="{{ path('season_index') }}" class="list-group-item list-group-item-action">Your Seasons</a>
            <a href="{{ path('episode_index') }}" class="list-group-item list-group-item-action">Your Episodes</a>
            <a href="{{ path('actor_index') }}" class="list-group-item list-group-item-action">Your Actors</a>
        </div>
    </div>

{% endblock %}

