{% extends 'base.html.twig' %}

{% block title %}Personnal Space{% endblock %}

{% block body %}

    <div class="container">
        <div class="list-group">
            <h2 class="mt-5 mb-5 ml-5">
                <i class="fas fa-door-open"></i>
                Welcome to your personnal space
            </h2>
            <a href="{{ path('category_index') }}" class="list-group-item list-group-item-action">
                <i class="far fa-plus-square"></i>
                Categories
            </a>
            <a href="{{ path('program_index') }}" class="list-group-item list-group-item-action">
                <i class="far fa-plus-square"></i>
                Programs
            </a>
            <a href="{{ path('season_index') }}" class="list-group-item list-group-item-action">
                <i class="far fa-plus-square"></i>
                Seasons
            </a>
            <a href="{{ path('episode_index') }}" class="list-group-item list-group-item-action">
                <i class="far fa-plus-square"></i>
                Episodes
            </a>
            <a href="{{ path('actor_index') }}" class="list-group-item list-group-item-action">
                <i class="far fa-plus-square"></i>
                Actors
            </a>
            <a href="{{ path('comment_index') }}" class="list-group-item list-group-item-action">
                <i class="far fa-plus-square"></i>
                Comments and Rates
            </a>
        </div>
    </div>

{% endblock %}

