{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center m-5 p-5">Your Programs</h1>
        <div class="row justify-content-center">
            <table class="table col-12">
                <tbody>
                {% for program in programs %}
                    <tr>
                        <td>
                            <img style="width: 100px" src="{{ program.poster }}" alt="{{ program.title }}">
                        </td>
                        <td class="justify-content-center">
                            <p>{{ program.title }}</p>
                            <p>{{ program.country }}</p>
                            <p>{{ program.year }}</p>
                            <a class="btn btn-outline-dark"
                               href="{{ path('program_edit', {'slug': program.slug}) }}">Edit</a>
                            <a class="btn btn-outline-dark"
                                    href="{{ path('program_delete', {'slug': program.slug}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <div id="wrapper">
                        <h1 class="glitch" data-text="Not found">Not found</h1>
                        <span class="sub">Nothing Here</span>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-dark" href="{{ path('program_new') }}">New Program</a>
            <a class="btn btn-outline-dark ml-5" href="{{ path('admin') }}">Back To Menu</a>
        </div>
    </div>
{% endblock %}
