{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}

    <div class="container mt-5">

        <h2 class="mt-5 mb-5">Your Programs</h2>
        <div class="row">
            <table class="table col-6">
                <tbody>
                {% for program in programs %}
                    <tr>
                        <td>
                            <img style="width: 100px" src="{{ program.poster }}" alt="{{ program.title }}">
                        </td>
                        <td>
                            <p>{{ program.title }}</p>
                            <p>{{ program.country }}</p>
                            <p>{{ program.year }}</p>
                            <a class="btn btn-outline-success"
                               href="{{ path('program_edit', {'slug': program.slug}) }}">Edit</a>
                            {{ include('program/_delete_form.html.twig') }}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(programs) }}
    </div>

    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-success" href="{{ path('program_new') }}">New Program</a>
            <a class="btn btn-outline-success ml-5" href="{{ path('admin') }}">Back To Menu</a>
        </div>
    </div>
{% endblock %}
