{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
        <tr>
            <td colspan="2">
                <img style="width: 100px" src="{{ program.poster }}" alt="{{ program.title }}">
            </td>
        </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ program.synopsis }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ program.country }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ program.year }}</td>
            </tr>
            <tr>
                <th>Actor</th>
                <td>
                    {% for actor in program.actors %}
                        <a class="btn btn-outline-dark m-5" href="{{ path('actor_show', {"slug":actor.slug}) }}"> {{ actor.name }}, </a>
                    {% else %}
                        Aucun acteur pour cette série
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-dark m-5" href="{{ path('program_index') }}">Back to list</a>

    <a class="btn btn-outline-dark m-5" href="{{ path('program_edit', {'slug': program.slug}) }}">Edit</a>

    {{ include('program/_delete_form.html.twig') }}

{% endblock %}
