{% extends 'base.html.twig' %}

    {% block title %}Catégorie{% endblock %}

{% block body %}
    <h1 class="text-center">Category Horror </h1>
    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 p-5">
        {% for program in selectByCategory %}
            <div class="col mb-3">
                <div class="card h-100">
                    <img src="{{ program.poster }}" class="card-img-top" alt="{{ program.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ program.title }}</h5>
                        <h6>{{ category.name }}</h6>
                        <p class="card-text">{{ program.synopsis }}</p>
                        <div class="row-cols-2">
                            <a href="https://www.amazon.fr/S%C3%A9ries-TV-DVD-Blu-ray/s?rh=n%3A409468%2Cp_n_binding_browse-bin%3A383376011"
                               target="_blank" class="btn btn-success">Vous le voulez ?</a>
                            <a class="btn btn-success" href="http://www.allocine.fr/series/">Vous aimez ?</a>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
    <a class="btn btn-success" href="{{ path('wild_home') }}">
        Retour à l'accueil
    </a>
{% endblock %}