{% extends 'base.html.twig' %}

{% block title %}
    Wild Series
{% endblock %}

{% block body %}

    <h1 class="text-center m-5 p-5">Your Series</h1>
    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 p-5 m-0">
        {% for program in programs %}
            <img src="{{ program.poster }}" class="series card-img-top img-circle" alt="{{ program.title }}">
            <div class="col-6 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ program.title }}</h5>
                        <p class="card-text">{{ program.category.name }}</p>
                    </div>
                    <div class="guide-menu">
                        <a class="btn-guide btn-outline-dark"
                           href="{{ path('show_program',{'slug': program.title | replace({' ':'-'})}) }}">Guide</a>
                    </div>
                </div>
            </div>

        {% else %}
            No Series found.
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center pb-5">
        <a class="btn btn-outline-dark" href="{{ path('wild_home') }}">
            Back to Home
        </a>
    </div>

{% endblock %}
