{% extends 'base.html.twig' %}

{% block title %}
    Wild Series
{% endblock %}

{% block body %}

    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 p-5">
        {% for program in programs %}
            <div class="col mb-3">
                <div class="card h-100">
                    <img src="{{ program.poster }}" class="card-img-top img-circle" alt="{{ program.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ program.title }}</h5>
                        <p class="card-text">{{ program.category.name }}</p>
                    </div>
                    <div class="bg bg-success">
                        <a class="btn h-100"
                           href="{{ path('show_program',{'slug': program.title | replace({' ':'-'})}) }}">Guide</a>
                    </div>
                </div>
            </div>

        {% else %}
            Aucune Série trouvée.
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center pb-5">
        <a class="btn btn-outline-success" href="{{ path('wild_home') }}">
            Back to Menu
        </a>
    </div>

{% endblock %}
