{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ program.title }}</h1>
    <div class="container-fluid">
        {% for season in seasons %}
            <div class="card-body border m-5 h-100">
                <p class="m-5">Saison {{ loop.index }}: </p>
                <p class="card-body">{{ season.description }}</p>
                <a class="btn btn-success m-2" href="{{ path('show_season', {'season_id': season.id}) }}">Find the Guide
                    of
                    episodes of the Season {{ loop.index }}</a>
            </div>
        {% endfor %}

        <a class="btn btn-outline-dark m-2" href="{{ path('wild_index') }}">
            Back
        </a>
    </div>
{% endblock %}
