{% extends 'base.html.twig' %}

{% block title %}Actor {% endblock %}

{% block body %}

    <h1 class="text-center p-5 m-5">Your Favourite Actors</h1>
    <div class="container">
        <div class="row justify-content-center">
            <table class="table col-12">
                <tbody>
                {% for actor in actors %}
                    <tr>
                        <td>
                            <p class="text-center">{{ actor.name }}</p>
                            <a class="btn btn-outline-dark ml-5"
                               href="{{ path('actor_edit', {'slug': actor.slug}) }}">Edit</a>
                            <a class="btn btn-outline-dark ml-5"
                               href="{{ path('actor_delete', {'slug': actor.slug}) }}">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <div id="wrapper">
                        <h1 class="glitch" data-text="Not found">Not found</h1>
                        <span class="sub">Nothing Here</span>
                    </div>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(actors) }}
    </div>

    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-dark" href="{{ path('actor_new') }}">New Actor</a>
            <a class="btn btn-outline-dark ml-5" href="{{ path('admin') }}">Back To Menu</a>
        </div>
    </div>

{% endblock %}
