{% extends 'base.html.twig' %}

{% block title %}Actor index{% endblock %}

{% block body %}
    <div class="container">

        <h2 class="mt-5 mb-5">Your Favourite Actors</h2>
        <div class="row">
            <table class="table col-6">
                <tbody>
                {% for actor in actors %}
                    <tr>
                        <td>{{ actor.name }}</td>
                        <td>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <a class="btn btn-outline-success" href="{{ path('actor_show', {'slug': actor.slug}) }}">Show</a>
                                    <a class="btn btn-outline-success ml-5" href="{{ path('actor_edit', {'slug': actor.slug}) }}">Edit</a>
                                    <a class="btn btn-outline-success ml-5" href="{{ path('actor_delete', {'slug': actor.slug}) }}">Delete</a>
                                </div>
                            </div>

                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(actors) }}
    </div>

    <div class="container">
        <div class="row p-5 justify-content-center ">
            <a class="btn btn-outline-success" href="{{ path('actor_new') }}">New Actor</a>
            <a class="btn btn-outline-success ml-5" href="{{ path('admin') }}">Back To Menu</a>
        </div>
    </div>

{% endblock %}
