{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}

    <h1 class="text-center m-5">{{ actor.name }}</h1>


    <table class="table">
        <tbody>
        <tr>
            {% for program in actor.programs %}
                <li>
                    <a class="justify-content-center"
                       href="{{ path('program_show', {"id":program.id}) }}">{{ program.title }}</a>
                </li>
            {% else %}
                <li class="text-center m-5">
                    No shows for this actor
                </li>
            {% endfor %}
        </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row justify-content-center">
            <a class="btn btn-outline-success" href="{{ path('actor_index') }}">Back to list</a>
            <a class="btn btn-outline-success ml-5" href="{{ path('actor_edit', {'slug': actor.slug}) }}">Edit</a>
        </div>
        {{ include('actor/_delete_form.html.twig') }}
    </div>
{% endblock %}
