<footer class="footer font-small mdb-color lighten-3 pt-4">
    <div class="container">
        <div class="row h-100 d-flex">
            <div class="col-lg-2 col-md-12 mb-4 justify-content-center">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.disneyplus.com/fr-fr/" target="_blank">
                    <img src="{{ asset('build/Disney_cinema_logo.png') }}" class="img-fluid logo-footer"
                         alt="disney-plus">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.imdb.com/" target="_blank">
                    <img src="{{ asset('build/imdb.png') }}" class="img-fluid logo-footer"
                         alt="imdb">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.netflix.com/browse" target="_blank">
                    <img src="{{ asset('build/Netflix.png') }}" class="img-fluid logo-footer"
                         alt="netflix">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-12 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.senscritique.com/" target="_blank">
                    <img src="{{ asset('build/senscritique.png') }}" class="img-fluid logo-footer"
                         alt="senscritique">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="https://www.canalplus.com/" target="_blank">
                    <img src="{{ asset('build/canal_plus.png') }}" class="img-fluid logo-footer"
                         alt="canal-plus">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4">
                <div class="view overlay z-depth-1-half">
                    <a href="http://www.allocine.fr/" target="_blank">
                    <img src="{{ asset('build/allocine.png') }}" class="img-fluid logo-footer"
                         alt="allocine">
                        <div class="mask rgba-white-light"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
