<nav class="navbar navbar-expand-lg navbar-light bg-muted">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div>
        <img src="{{ asset('build/logo.png') }}" alt="logo">

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('wild_home') }}">
                    <i class="fas fa-home"></i>
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('wild_index') }}">
                    <i class="fas fa-film"></i>
                    Series
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('actor_index') }}">
                    <i class="fas fa-film"></i>
                    Actor
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('program_index') }}">
                    <i class="fas fa-film"></i>
                    Program
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('episode_index') }}">
                    <i class="fas fa-film"></i>
                    Episode
                </a>
            </li><li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('season_index') }}">
                    <i class="fas fa-film"></i>
                    Season
                </a>
            </li>
            <li class="nav-item">
                {% if app.user %}
            <li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('admin') }}">
                    <i class="fas fa-portrait"></i>
                    Your Space
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-btn nav-link" href="{{ path('app_logout') }}">
                    <i class="fas fa-stop"></i>
                    Logout
                </a>
            </li>
            {% else %}
                <a class="nav-btn nav-link" href="{{ path('app_login') }}">
                    <i class="fas fa-play"></i>
                    Login
                </a>
            {% endif %}
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</nav>
